.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  .modalBody {
    width: 500px;
    height: 550px;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 12px;
    .goBack {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--PlatiniumGreen);
      cursor: pointer;
      border-radius: 12px 12px 0 0;
      .XIcon {
        color: var(--MainRed);
        font-size: 40px;
      }
    }
    .goBack:hover {
      background-color: var(--DarkGray); 
    }

    .modalGuide {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px;
      span {
        color: var(--MainRed);
        font-family: 'poppins-italic';
      }
      .inputPool {
        width: 200px;
        height: 8px;
        padding: 10px 40px 10px 20px;
        border: 2px solid var(--DarkGray);
        border-radius: 8px;
        background-color: var(--White);
        font-family: "poppins-light";
        position: relative;
      }
      .searchIcon {
        transform: translateX(180px);
        color: var(--DarkGray);
        position: absolute;
        font-size: 18px;
      }
    }
    .modalLine {
      width: 100%;
      height: 2.5px;
      margin-top: 10px;
      background: var(--MainBlue);
    }
  }
}
