.sideBar {
    width: 18%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    border-right: 3.5px solid var(--Gray);
    margin-top: 110px;
    .sideBarLink {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
        .sideNav {
            width: 100%;
            height: auto; 
            display: flex;
            align-items: center;
            gap: 10px;
            .icon { 
                color: var(--MainRed);
                margin-left: 30px;
                font-size: 25px;
            }
            span {
                color: var(--MainRed);
                font-family: 'poppins-light';
            }
        }
    }
    .sideBarLink:hover {
        background-color: var(--MainBlue);
        border-radius: 8px;
    }
}