.sideBar {
    width: 18%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    border-right: 3.5px solid var(--Gray);
    margin-top: 110px;
    .sideNav {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        .icon { 
            color: var(--MainRed);
            margin-left: 30px;
        }
        span {
            color: var(--MainRed);
            font-family: 'poppins-light';
        }
    }
    .sideNav:hover {
        background-color: var(--Gray);
        border-radius: 8px;
    }
}