.post {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    .postBody {
        width: 40%;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px var(--MainBlue) solid;
        box-shadow: 0 5px 10px 5px var(--DarkGray);
        border-radius: 40px;
        gap: 20px;
        .postInfo {
            width: 100%;
            height: auto;
            display: flex;
            align-items: start;
            justify-content: space-between;
            .posterInfo {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                cursor: pointer;
                gap: 5px;
                .profilePic {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .letter {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--PlatiniumGreen);
                    .firstletter {
                        color: var(--MainRed);
                        font-family: 'poppins-light';
                        font-size: 18px;
                    }
                }
                .username {
                    width: auto;
                    height: auto;
                    font-size: 12px;
                    font-family: 'poppins-lightitalic';
                    color: var(--MainRed);
                }
            }
            .postCreateData {
                width: auto;
                height: auto;
                margin-right: 30px;
                font-family: 'poppins-italic';
                font-size: small;
                color: var(--PlatiniumGreen);
            }
        }
        .postDescription {
            width: auto;
            height: auto;
            font-family: 'poppins-light';
            font-size: 14px;
        }
        
        .oneItem {
            width: 75%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            .postMedia {
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 30px;
                border: none;
                cursor: pointer;
            }
        }
        .fewItems {
            width: 100%;
            height: 280px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;
            .slideButtonBack {
                width: 70px;
                height: 80px;
                background-color: var(--Gray);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                cursor: pointer;
                .slideButton {
                    font-size: 20px;
                    background: none;
                }
            }
            .slideButtonBack:hover {
                background-color: var(--DarkGray);
            }
            .postMedia {
                width: 75%;
                height: 300px;
                object-fit: cover;
                border-radius: 30px;
                border: none;
            } 
        }
        .dot {
            size: 12px;
            color: var(--MainBlue);
            fill:var(--MainBlue);
        }

        .activeDot {
            size: 12px;
            color: var(--MainRed);
        }

        .line {
            width: 80%;
            height: 2px;
            background-color: var(--DarkGray);
        }

        .postReaction {
            width: 75%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .postReactionButtons {
                width: 45%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            .area {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                cursor: pointer;
                margin-bottom: 20px;
                .reaction {
                    font-size: 20px;
                }
                .count {
                    font-size: 15px;
                    font-family: 'poppins-light';
                }
            }
            .area:hover {
                .reaction {
                    color: var(--DarkGray);
                }
                .count {
                    color: var(--DarkGray);
                }
            }
            .likearea {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: var(--Gray);
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                cursor: pointer;
                margin-bottom: 20px;
                .reaction {
                    font-size: 20px;
                    color: var(--MainBlue);
                }
                .count {
                    font-size: 15px;
                    font-family: 'poppins-light';
                    color: var(--MainBlue);
                }
            }
            .likearea:hover {
                .reaction {
                    color: var(--MainRed)
                }
                .count {
                    color: var(--MainRed)
                }
            }

            .dislikearea {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: var(--Gray);
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                cursor: pointer;
                margin-bottom: 20px;
                .reaction {
                    font-size: 20px;
                    color: var(--MainRed);
                }
                .count {
                    font-size: 15px;
                    font-family: 'poppins-light';
                    color: var(--MainRed);
                }
            }
            .dislikearea:hover {
                .reaction {
                    color: var(--MainBlue)
                }
                .count {
                    color: var(----MainBlue)
                }
            }
        }
    }
    .modalOverlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.8);
        display: flex;
        flex-direction: column;
        align-items: self-end;
        justify-content: center;
        z-index: 9999;
        .modalCloseBorder {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            cursor: pointer;
            .modalCloseIcon {
                font-size: 30px;
                color: var(--White);
            }
        }
        .modalCloseBorder:hover {
            background-color: var(--DarkGray);
            border-radius: 50%;
        }

        .modalContentBackground {
            width: 100%;
            height: 88vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .modalContent {
                width: 75%;
                height: 88vh;
                background-color: var(--White);
                display: flex;
            }
            .oneItem {
                width: 60% ;
                height: 88vh;
                display: flex;
                align-items: center;
                justify-content: center;
                .postMedia {
                    width: 100%;
                    height: 88vh;
                    object-fit: cover;
                }
            }
            .fewItems {
                width: 60% ;
                height: 88vh;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                .slideButtonBack {
                    width: 40px;
                    height: 40px;
                    background-color: rgba(50, 47, 47, 0.2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: absolute;
                    border-radius: 50%;
                    margin: 0 8px 0 8px;
                }
                .slideButtonBack:hover {
                    background-color: var(--DarkGray);
                }

                .left {
                    left: 0;
                }
                .right {
                    right: 0;
                }
                
                .postMedia {
                    width: 100%;
                    height: 88vh;
                    object-fit: cover;
                    position: absolute;
                }
            }
            .modalPostInfo {
                width: 40%;
                height: 86vh;
                margin: 8px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .modalPostUserData {
                    width: 100%;
                    max-height: 86vh;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .profilePic {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                    .letter {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: var(--PlatiniumGreen);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        .firstletter {
                            color: var(--MainRed);
                            font-family: 'poppins-light';
                            font-size: 22px;
                        }
                    }
                    .username {
                        width: auto;
                        height: auto;
                        font-size: 17px;
                        font-family: 'poppins-lightitalic';
                        color: var(--MainRed);
                        cursor: pointer;
                    }
                }
                .description {
                    width: auto;
                    height: auto;
                    font-family: 'poppins-light';
                    font-size: 16px;
                }
            }
        }
    }
    .paginationGuide {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
        .paginationButton {
            width: 60px;
            height: 30px;
            background-color: var(--DarkGray);
            border: none;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center; 
            cursor: pointer;
             .changingPageIcon {
                color: var(--MainRed);
                font-size: 15px;
            } 
        }
        .paginationButton:disabled {
            background-color: var(--PlatiniumGreen);
            cursor: not-allowed;
            .changingPageIcon {
                color: var(--Gray);
            }
        }
    }
}