.post {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    .postBody {
        width: 40%;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px var(--MainBlue) solid;
        box-shadow: 0 5px 10px 5px var(--DarkGray);
        border-radius: 40px;
        gap: 20px;
        .username {
            width: auto;
            height: auto;
            align-self: self-start;
            margin-left: 30px;
            font-family: 'poppins-semibold';
            cursor: pointer;
            color: var(--MainRed);
        }
        .postDescription {
            width: auto;
            height: auto;
            font-family: 'poppins-light';
            font-size: 14px;
        }
        
        .oneItem {
            width: 75%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            .postMedia {
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 30px;
                border: none;
            }
        }
        .fewItems {
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .slideButtonBack {
            width: 70px;
            height: 80px;
            background-color: var(--Gray);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            cursor: pointer;
            .slideButton {
                font-size: 20px;
                background: none;
            }
        }
        .slideButtonBack:hover {
            background-color: var(--DarkGray);
        }
            .postMedia {
                width: 75%;
                height: 300px;
                object-fit: cover;
                border-radius: 30px;
                border: none;
            } 
        }
        .dot {
            size: 12px;
            color: var(--MainBlue);
            fill:var(--MainBlue);
        }

        .activeDot {
            size: 12px;
            color: var(--MainRed);
        }


        .line {
            width: 80%;
            height: 2px;
            background-color: var(--DarkGray);
        }

        .postReaction {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-evenly;
            .area {
                width: 40px;
                display: flex;
                justify-content: space-evenly;
                cursor: pointer;
                margin-bottom: 20px;
                .reaction {
                    font-size: 20px;
                }
                .reaction:hover {
                    color: var(--DarkGray);
                }
                .count {
                    font-size: 15px;
                    font-family: 'poppins-light';
                }
            }
        }
    }
}