.section {
    width: 100%;
    height: 56vh;
    overflow: auto;
    overflow-x: hidden;
    .description {
        width: auto;
        height: auto;
        font-family: 'poppins-light';
        font-size: 16px;
    }
    .comment {
        width: 95%;
        height: auto;
        .commentBody {
            width: 100%;
            height: auto;
            display: flex;
            gap: 10px;
            margin-top: 10px;
            .profilePic {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
            .letter {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--PlatiniumGreen);
                cursor: pointer;
                .nameLetter {
                    color: var(--MainRed);
                    font-family: 'poppins-light';
                    font-size: 20px;
                }
            }
            .commentData {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 5px;
                .data {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    .username {
                        font-family: 'poppins-semibold';
                        color: var(--MainBlue);
                        font-size: 14px;
                        cursor: pointer;
                    }
                    .createdAt {
                        width: auto;
                        height: auto;
                        font-family: 'poppins-italic';
                        font-size: 10px;
                        color: var(--PlatiniumGreen);
                    }
                }
                .comment {
                    width: 100%;
                    height: auto;
                    word-break: break-word;
                    overflow-wrap: break-word;
                    font-family: 'poppins-light';
                    font-size: 15px;
                }
                .replyComment {
                    width: 85%;
                    height: 40px;
                    border-radius: 8px;
                    border: 2px solid var(--PlatiniumGreen);
                    padding: 10px 20px 10px 20px;
                    font-family: 'poppins-light';
                    font-size: 13px;
                    resize: none; 
                    vertical-align: top;
                }
                .replyComment:focus {
                    border: 2px solid var(--PlatiniumGreen);
                    outline: none;
                }
                .existedComment {
                    width: 85%;
                    height: 40px;
                    border-radius: 8px;
                    border: 2px solid var(--PlatiniumGreen);
                    padding: 10px 20px 10px 20px;
                    font-family: 'poppins-light';
                    font-size: 13px;
                    resize: none; 
                    vertical-align: top;
                }
                .existedComment:focus {
                    border: 2px solid var(--MainBlue);
                    outline: none;
                }
                .iconArea {
                    width: 96%;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    border: 2px solid var(--DarkGray);
                    background-color: var(--DarkGray);
                    position: relative;
                    cursor: not-allowed;
                    .postComment {
                        text-align: center;
                        font-family: 'poppins-light';
                        font-size: 14px;
                    }
                    .sendIcon {
                        position: absolute;
                        right: 0;
                        margin-right: 20px;
                        font-size: 20px;
                    }
                }
                .existedIconArea {
                    width: 96%;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    border: 2px solid var(--MainBlue);
                    background-color: var(--MainBlue);
                    position: relative;
                    cursor: pointer;
                    .postComment {
                        text-align: center;
                        font-family: 'poppins-light';
                        font-size: 14px;
                        color: var(--White)
                    }
                    .sendIcon {
                        position: absolute;
                        right: 0;
                        margin-right: 20px;
                        font-size: 18px;
                        color: var(--White)
                    }
                }
            }
            .reactionArea {
                width: 20%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                .commentReaction {
                    width: 80%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    cursor: pointer;
                    font-family: 'poppins-light';
                    font-size: 13px;
                    color: var(--Black);
                }
                .commentReaction:hover {
                    color: var(--DarkGray);
                }
                .likeReaction {
                    width: 80%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    cursor: pointer;
                    font-family: 'poppins-light';
                    font-size: 13px;
                    color: var(--MainBlue);
                }
                .likeReaction:hover {
                    color: var(--MainRed);
                }
                .dislikeReaction {
                    width: 80%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    cursor: pointer;
                    font-family: 'poppins-light';
                    font-size: 13px;
                    color: var(--MainRed);
                }
                .dislikeReaction:hover {
                    color: var(--MainBlue);
                }
            }
        }
    }
}

.replyItem {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    .replyData {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        .replyUserData {
            width: auto;
            height: auto;
            display: flex;
            gap: 5px;
            .replyProfilePicture {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                object-fit: cover;
                cursor: pointer;
            }
            .replyLetter {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--PlatiniumGreen);
                cursor: pointer;
                .replyNameLetter {
                    color: var(--MainRed);
                    font-family: 'poppins-light';
                    font-size: 18px;
                }
            }
            .replyName {
                font-family: 'poppins-semibold';
                color: var(--MainBlue);
                font-size: 12px;
                cursor: pointer;
            }
        }
        .replyCreatedAt {
            width: auto;
            height: auto;
            font-family: 'poppins-italic';
            font-size: 8px;
            color: var(--PlatiniumGreen);
        }
    }
    .replyContent {
        width: 100%;
        height: auto;
        word-break: break-word;
        overflow-wrap: break-word;
        font-family: 'poppins-light';
        font-size: 13px;
        margin-left: 30px;
    }
    .replyReactionArea {
        width: 18%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-left: 25px;
        .replyCommentReaction {
            width: 75%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            cursor: pointer;
            font-family: 'poppins-light';
            font-size: 12px;
            color: var(--Black);
        }
        .replyCommentReaction:hover {
            color: var(--DarkGray);
        }
        .replyLikeReaction {
            width: 75%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            cursor: pointer;
            font-family: 'poppins-light';
            font-size: 12px;
            color: var(--MainBlue);
        }
        .replyLikeReaction:hover {
            color: var(--MainRed);
        }
        .replyDislikeReaction {
            width: 75%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            cursor: pointer;
            font-family: 'poppins-light';
            font-size: 12px;
            color: var(--MainRed);
        }
        .replyDislikeReaction:hover {
            color: var(--MainBlue);
        }
    }
}