.postReactionButtons {
    width: 45%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .area {
        width: auto;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        margin-bottom: 20px;
        gap: 5px;
        @media screen and (max-width: 500px) {
            margin-bottom: 10px;
        }
        .reaction {
            font-size: 20px;
        }
        .count {
            font-size: 15px;
            font-family: 'poppins-light';
        }
    }
    .area:hover {
        .reaction {
            color: var(--DarkGray);
        }
        .count {
            color: var(--DarkGray);
        }
    }
    .likearea {
        width: auto;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        margin-bottom: 20px;
        gap: 5px;
        @media screen and (max-width: 500px) {
            margin-bottom: 10px;
        }
        .reaction {
            font-size: 20px;
            color: var(--MainBlue);
        }
        .count {
            font-size: 15px;
            font-family: 'poppins-light';
            color: var(--MainBlue);
        }
    }
    .likearea:hover {
        .reaction {
            color: var(--MainRed)
        }
        .count {
            color: var(--MainRed)
        }
    }

    .dislikearea {
        width: auto;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        margin-bottom: 20px;
        gap: 5px;
        @media screen and (max-width: 500px) {
            margin-bottom: 10px;
        }
        .reaction {
            font-size: 20px;
            color: var(--MainRed);
        }
        .count {
            font-size: 15px;
            font-family: 'poppins-light';
            color: var(--MainRed);
        }
    }
    .dislikearea:hover {
        .reaction {
            color: var(--MainBlue)
        }
        .count {
            color: var(----MainBlue)
        }
    }
}