.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--DarkGray);
    .navbarBody {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .navbarLogo {
            width: 100px;
            height: 100px;
            margin-top: 40px;
            display: flex;
            .logo {
                width: 60px;
                height: 60px;
            }
        }
        .navbarSearchBar {
            width: 330px;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .inputPool {
                width: 330px;
                height: 8px;
                padding: 10px 28px 10px 20px;
                border: none;
                border-radius: 8px;
                background-color: var(--White);
                font-family: "poppins-light";
                position: relative;
            }
            .searchIcon {
                transform: translateX(-25px);
                margin-top: 5px;
                font-size: 18px;
                color: var(--DarkGray);
                position: absolute;
            }
        }
    }
}