.login {
  width: 100%;
  height: 100vh;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .loginBody {
    width: 30%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 10px 30px rgba(72, 72, 160, 0.2);
    border: none;
    border-radius: 20px;
    padding-top: 40px;

    .loginTitle {
      font-family: "poppins-bold";
      color: var(--MainBlue);
      font-size: 30px;
      display: flex;
      margin-bottom: 30px;
      z-index: 10;
    }
    .apiErrorMessage {
      color: red;
      font-size: 14px;
      margin: 0;
      font-family: 'poppins-semiBold';
    }
    
    .form {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      top: 160px;
      .inputDiv {
        width: 350px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 0;
        .loginFields {
          width: 250px;
          height: 25px;
          padding: 10px 20px 10px 20px;
          border: none;
          border-radius: 8px;
          background-color: var(--Gray);
          margin: 10px;
          font-family: "poppins-light";
        }
      }
        .loginButton {
          width: 100vh;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          button {
            width: 290px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 8px;
            color: var(--White);
            background-color: var(--MainRed);
            cursor: pointer;
            font-family: "poppins-semiBold";
            font-size: 25px;
            transition: transform 0.3s ease;
          }
          button:hover {
            transform: scale(1.05);
          }
        }
    }

    .loginGuide {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: auto;
      margin-bottom: 50px; 
      span {
        color: var(--Black);
        font-family: "poppins-lightItalic";
        font-size: 15px;
      }
      .linkToForgot {
        color: var(--MainBlue);
        text-decoration: none;
        font-family: "poppins-semiBold";
      }
    }
  }
}