.registration {
  width: 100%;
  height: 100vh;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .registrationBody {
    width: 30%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 10px 30px rgba(72, 72, 160, 0.2);
    border: none;
    border-radius: 20px;
    padding-top: 40px;
    position: relative;

    .registrationTitle {
      font-family: "poppins-bold";
      color: var(--MainBlue);
      font-size: 30px;
      display: flex;
      margin-bottom: 30px;
      z-index: 10;
      position: relative;
    }
    form {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      top: 160px;
      opacity: 0;
      pointer-events: none;
      transform: translateX(100px);
      transition: all 0.5s ease;
        p {
          height: 50px;
          font-family: 'poppins-italic';
        }

      .inputDiv {
        width: 350px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .registrationFields {
          width: 250px;
          height: 25px;
          padding: 10px 20px 10px 20px;
          border: none;
          border-radius: 8px;
          background-color: var(--Gray);
          margin: 10px;
          font-family: "poppins-light";
        }

        label {
            align-self: flex-start;
            margin-left: 35px;
            font-family: "poppins-semiBold";
        }
      }

      .registrationFirstButton {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 290px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 8px;
          color: var(--White);
          background-color: var(--MainRed);
          cursor: pointer;
          font-family: "poppins-semiBold";
          font-size: 25px;
          gap: 5px;
          transition: transform 0.3s ease;
        }
        button:hover {
          transform: scale(1.05);
        }
      }

      .secondPageButtons {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        .backToStartButton {
            width: 50px;
            height: 50px;
            background-color: var(--MainBlue);
            border: none;
            color: var(--White);
            border-radius: 10px 0 0 10px;
            transition: transform 0.3s ease;
            cursor: pointer;
        }
        .backToStartButton:hover {
            transform: scale(1.05);
        }
        .registrationButton {
            width: 245px;
            height: 50px;
            background-color: var(--MainRed);
            border: none;
            font-family: 'poppins-semiBold';
            color: var(--White);
            font-size: 18px;
            border-radius: 0 10px 10px 0;
            transition: transform 0.3s ease;
            cursor: pointer;
        }
        .registrationButton:hover {
            transform: scale(1.05);
        }
      }
    }
    .form.active {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0);
    }
    .registrationGuide {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: auto;
      margin-bottom: 20px;
      z-index: 10;
      position: relative;
      p {
        color: var(--Black);
        font-family: "poppins-lightItalic";
        font-size: 15px;
      }
      .linkToLogin {
        color: var(--MainBlue);
        text-decoration: none;
        font-family: "poppins-semiBold";
      }
    }
  }
}
